body {
    font-size: 2.5vw;
    flex-direction: column;
    display: flex;
}
#jankenpon {
    display: flex;
    flex-direction: row;
}

#win, #lose, #draw {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}

#rock>img, #paper>img, #scissor>img {
    width: 20vw;
}

h3 {
    margin-top: 35vh;
}

.hide {
    display: none;
}

.janken {
    flex: 1;
    text-align: center;
    margin-top: 20vh;    
}

#titulo {
    height: 30vh;
    text-align: center;
}

.lose, .win {
    width: 50%;
    position: absolute;
    left: 28%;
}

button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.image {
    width: 80vw;
    position: absolute;
    left: 10vw;
    top: 100px;
    z-index: 2;
}

#resetwin, #resetlose, #resetdraw {
    position: absolute;
    left: 40%;
    width: 20%;
    top: 62vh;
    padding: 10px;
    min-width: 100px;
}

#resetwin {
    background-color: green;
}

#resetdraw {
    background-color: yellow;
}

#resetlose {
    background-color: red;
}

@media only screen and (min-width:670px) {
   h3 {
       margin-top: 10vh;
   }
   #resetwin, #resetlose, #resetdraw {
       z-index: 3;
       width: 50%;
       height: 20%;
       font-size: 120%;
       border-radius: 50px;
       left: 25%;
   }
   .pedraoponente, .papeloponente, .tesouraoponente {
       top: 0;
       left: 0;
       width: 100vw;
       height: 100vh;
   }
   .win, .lose {
       z-index: 9;
   }
}